<html>
    
<head>
    <title>Dahaka</title>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <style>
        html,body{
            padding : 0px;
            margin : 0px;
            box-sizing: border-box;
        }
        body{
            display : flex;
        }
        #banner{
            background-color  :white;
            border-bottom : 0.5px solid #dedede;
            box-sizing: border-box;
            width : 100%;
            height : 35px;
        }
        #menu{
            top : 0px;
            left : 0px;
            width : 200px;
            min-width: 200px;
            max-width: 200px;
            background-color  :#2d343c;
            border-bottom : 0.5px solid #dedede;
            box-sizing: border-box;
        }
        #container{
            display : flex;
            width : 100%;
        }
        #context{
            flex-grow: 1;
            display : flex;
            flex-direction: column;
        }
        #content{
            flex-grow : 1;
            display : flex;
        }
        .menu-item{
            color : white;
            cursor : pointer;
        }
        .menu-item:hover,.app-name:hover{
            background-color : #697f68;
        }
        .menu-sub-item{
            color : white;
            cursor : pointer;
            font-size : 14px;
            background-color : #52575d;
        }
        .menu-sub-item:hover{
            background-color : #989e97;
        }
        .app-name > a {
            color : inherit !important;
            text-decoration: none;
            width : 100%;
            height : 100%;
            display : block;
        }
        .app-name .hide-menu:hover{
            background-color : lightgray;
        }
        .app-name .hide-menu{
            display : inline-flex;
            align-items : center;
            justify-content : center;
            width : 68px;
        }
        .app-name{
            cursor : pointer;
            color : white;
            font-size : 24px;
            padding-left : 10px;
            line-height: 50px;
            height : 50px;
            display : flex;
        }
        .menu-item .menu-icon{
            width : 30px;
            height : 30px;
            display : inline-flex;
            font-size : 20px;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        .menu-sub-item .menu-icon{
            width : 30px;
            height : 30px;
            display : inline-flex;
            font-size : 14px;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        .menu-label{
            display : inline-flex;
            justify-content: flex-start;
            align-items: center;
            height : 30px;
        }
        .menu-item > a,.menu-sub-item > a{
            display : flex;
            text-decoration: none;
            color : inherit !important;
        }
        .menu-item > a{
            padding : 10 10px 10px 10px;
        }
        .menu-sub-item > a{
            padding : 10 10px 10px 25px;
        }
        #path-trace{
            padding-left : 20px;
        }
        #path-trace > div:hover{
            background-color : #cbdcca;
        }
        #path-trace > div{
            font-size : 18px;
            display : inline-block;
            align-items : center;
            height: 100%;
            cursor : pointer;
        }
        #path-trace  a {
            color : inherit !important;
            text-decoration: none;
            padding : 0px 10px;
            height : 100%;
            align-items: center;
            display : flex;
        }

        .button{
            padding : 10px 20px;
            border : none;
            background-color : #cfdbe2;
            cursor: pointer;
        }
        .button:hover{
            background-color : #b7bfc3;
        }
        .iframe {
            flex-grow : 1;
        }
        .no-hover{
            background-color : inherit !important;
        }
    </style>
</head>
<body>
    <div id = "container">
        <div id = "menu">
            <div class="app-name"><a href="/">Dahaka</a><div class="hide-menu" onclick="top.location.href='/logout'"><i class="fa fa-chevron-left"></i></div></div>
            {{#each menu}}
            
                <div class="menu-item">
                    <a href="{{{url}}}">
                        <span class="menu-icon">{{{icon}}}</span>
                        <span class="menu-label">{{{label}}}</span>
                    </a>
                </div>
                {{#each appmenu}}
                    <div class="menu-sub-item">
                            <a href="{{{url}}}">
                            <span class="menu-icon">{{{icon}}}</span>
                            <span class="menu-label">{{{label}}}</span>
                        </a>
                    </div>
                {{/each}}
            {{/each}}
            
        </div>
        <div id = "context">
            <div id = "banner">
                <div id="path-trace">
                    <div><a href="/">Home</a></div> 
                    {{#each breadcrumb}}
                        <div><a href="{{url}}">{{label}}</a></div> 
                    {{/each}}
                </div>
            </div>
            <div id = "content">
                {{{body}}}
            </div>
        </div>
    </div>
    
</body>
</html>